server/obj/
server/bin/*.pdb
release/
tools/converted/
tools/converted_fixed/
tools/converted_v13/
tools/converted_v14/
tools/converted_v14b/
tools/converted_v14c/
tools/obsolete/
tools/CodeWalker/
tools/AssetCheck/bin/
tools/AssetCheck/obj/
tests/HouseFiles/bin/
tests/HouseFiles/obj/
exports/*.json
tools/generated/*.mesh.json
*.user
*.suo
*.zip

